# base stuff
sqlalchemy
jupyterlab
pandas
numpy
seaborn
scikit-learn
scipy
tqdm
pandas-profiling[notebook]
dtale

# pipeline/big data
kedro[all]
kedro-viz
pandas-datareader
dask
cvxpy
modin
numba
statsmodels

# viz
plotly
dash
altair
hvplot
holoviews
panel
streamlit
h2o-wave

# scraping
lxml
beautifulsoup4

# finance
yfinance
quantstats
pyfolio
alphalens
bt

# specific pins to solve bugs
jedi==0.17.2
