# base stuff
sqlalchemy
jupyterlab
jupyter-contrib-nbextensions
pandas
numpy
seaborn
scikit-learn
scipy
tqdm
pandas-profiling[notebook]
dtale

# pipeline/big data
pandas-datareader
cvxpy
modin[all]
numba
statsmodels
# kedro
# kedro-viz
prefect

# viz
plotly
dash
hvplot
holoviews
panel
streamlit
ipydatagrid

# scraping
lxml
beautifulsoup4
html5lib

# crypto
# ccxt

# finance
yfinance
investpy
quantstats
pyfolio-reloaded
alphalens-reloaded
bt

# utils
requests
ipdb
icecream
line_profiler
tinydb
fire
cython
tqdm
selenium
chromedriver-binary
webdriver-manager
# retrying
backoff
tenacity
loguru
python-box
pytest
isort
black
jupyterlab-code-formatter

# web
fastapi
dask
pyarrow
fuzzywuzzy
spacy
nltk
playwright

# specific pins to solve bugs
# jedi==0.17.2
